version: '3.8'

services:
  # API service
  api:
    build: .
    container_name: ctf-platform-api
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - PORT=3000
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongo:27017/ctf-platform
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - ctf-network

  # MongoDB service
  mongo:
    image: mongo:latest
    container_name: ctf-platform-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - ctf-network

networks:
  ctf-network:
    driver: bridge

volumes:
  mongo-data:
